T/bin/Debug/T.exe
T/bin/Debug/T.pdb
T/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
T/obj/Debug/T.csproj.FileListAbsolute.txt
T/obj/Debug/T.csprojResolveAssemblyReference.cache
T/obj/Debug/T.exe
T/obj/Debug/T.pdb
T.v11.suo
